.profile-container {
    padding: 24px;
    max-width: 1200px;
    margin: 0 auto;
}

.user-card {
    margin-bottom: 24px;
}

.meme-image {
    height: 200px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .profile-container {
        padding: 12px;
    }

    .meme-image {
        height: 150px;
    }
}

.meme-grid {
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
}

.meme-card-container {
    flex: 1 1 calc(33.33% - 16px); 
    max-width: calc(33.33% - 16px);
    height: auto;
    border-radius: 8px;
    overflow: hidden;
}

@media (max-width: 1024px) {
    .meme-card-container {
        flex: 1 1 calc(50% - 16px); /* 2 cards per row for medium screens */
        max-width: calc(50% - 16px);
    }
}

@media (max-width: 786px) {
    .meme-card-container {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 16px);
    }
}

@media (max-width: 576px) {
    .meme-card-container {
        flex: 0 0 calc(100% - 20px); 
        max-width: calc(100% - 16px);
    }
}