.controls-card {
  margin-top: 0px;
  width: 20%;
  padding: 16px;
}

.controls-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 576px) {
  .controls-card {
    width: 100%;
  }
}