.preview-card {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    position: relative;
}

.meme-preview {
    position: relative;
    display: inline-block;
    width:auto;
    max-width: 120%;
    text-align: center;
    justify-content: center;
}

.meme-image {
    max-width: 400px;
    max-height: 450px;
    height: auto;
    width: auto;
    display: block;
}

.top-text,
.bottom-text {
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    width:100%;
    word-wrap: break-word; 
    pointer-events: none;
    overflow: hidden;
}

.top-text {
    top: 1%;
}

.bottom-text {
    bottom: 1%;
}

@media (max-width: 576px) {
    .preview-card {
      width: 100%;
    }
  }