.home-page {
    padding: 0px;
    text-align: center;
}

.home-page h1 {
    margin-bottom: 24px;
}

.hero-section {
    text-align: center;
    padding: 64px 16px;
    background-color: #1890ff;
    color: white;
}

.featured-memes {
    background:#fff;
    padding: 32px;
    text-align: center;
}

.featured-memes h2 {
    margin-bottom: 24px;
    font-size: 28px; 
    text-transform: uppercase; 
    letter-spacing: 1px;
    display: inline-block; 
    color: #141f4d;
    font-weight: 500;
}

.featured-memes .meme-grid {
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
}


.featured-memes .meme-card-container {
    flex: 1 1 calc(33.33% - 16px); 
    max-width: calc(33.33% - 16px);
    height: auto;
    border-radius: 8px;
    overflow: hidden;
}

@media (max-width: 1024px) {
    .featured-memes .meme-card-container {
        flex: 1 1 calc(50% - 16px); 
        max-width: calc(50% - 16px);
    }
}

@media (max-width: 786px) {
    .featured-memes  .meme-card-container {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 16px);
    }
}

@media (max-width: 576px) {
    .featured-memes .meme-card-container {
        flex: 0 0 calc(100% - 20px); 
        max-width: calc(100% - 16px);
    }
}

.how-it-works {
    padding: 32px;
    background-color: #f0f2f5;
    color: #0b2946;
}

.how-it-works h2 {
    text-align: center;
}

.step {
    text-align: center;
    padding: 16px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
