.banner-container {
    background: linear-gradient(135deg, #383886 0%, #7a88b7 100%);
    color: white;
    padding: 4rem;
    border-radius: 12px;
    margin: 2rem 0;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.banner-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.banner-content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.emoji-jump {
    display: inline-block;
    animation: jump 1.5s infinite;
}

.emoji-scroll {
    display: inline-block;
    animation: scroll 8s linear infinite;
    white-space: nowrap;
}

.emoji-float {
    padding: 0.5em;
    font-size: 1.8rem;
    letter-spacing: 1.4rem;
    animation: float 6s ease-in-out infinite;
}

.banner-button {
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
}

.banner-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.banner-button:active {
    transform: translateY(0);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(-10deg);
    }

    20% {
        transform: rotate(12deg);
    }

    30% {
        transform: rotate(-10deg);
    }

    40% {
        transform: rotate(9deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes jump {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

@keyframes scroll {
    0% {
        transform: translateX(-165%);
    }

    100% {
        transform: translateX(165%);
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

@media (max-width: 768px) {
    .banner-content h1 {
        font-size: 1.8rem;
        flex-direction: column;
    }

    .emoji-scroll {
        white-space: normal;
        animation: none;
    }
}