.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #f0f2f5;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0.6em 1.2em;
}

.logo a {
    white-space: nowrap
}

.logo-image {
    height: 40px;
    margin-right: 10px;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.nav-menu a {
    margin: 0 16px;
    text-decoration: none;
    color: #333;
}

.nav-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-menu {
    font-size: 18px;
    line-height: 64px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

.burger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
}

@media (max-width: 876px) {
    .nav-menu {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 64px;
        right: 0;
        background-color: #f0f2f5;
        width: 100%;
        padding: 16px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .nav-menu.active {
        display: flex; 
    }

    .burger-menu {
        display: block; 
    }

    .nav-container {
        justify-content: space-between;
    }
}