.meme-card {
    position: relative;
    width: 100%; 
    height: 100%; 
    aspect-ratio: 1/1;
    overflow: hidden;
    border: 1px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meme-card :global(.ant-card-body) {
    padding: 48px;
    width: 100%; 
    height: 100%; 
}

.meme-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.meme-text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    pointer-events: none; 
    padding: 48px;
    box-sizing: border-box;
}

.top-text,
.bottom-text {
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    text-align: center; 
    text-shadow: 2px 2px 4px black;
    text-transform: uppercase;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    line-height: 1.2;
    display: block;
    justify-content: center; 
    align-items: center;
    padding: 5px;
    max-width: 100%; 
    box-sizing: border-box;
}

.top-text {
    align-self: center; 
    margin-top: 0;
}

.bottom-text {
    align-self: center; 
    margin-bottom: 0; 
}