.footer {
    width: 100%;
    background-color: #0b2946;
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid #ddd;
    margin: 0;
}

.quick-links a {
    margin: 0 16px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.copyright {
    margin-top: 16px;
}